.team-section {
  @extend %container;
  @extend %sections;
  background-color: $teamBackgroudColor;
}
.team {
  display: flex;
  justify-content: center;
  margin-left: calc(#{$cardGetGap} * (-1));
  margin-top: calc(#{$cardGetGap} * (-1));
}
.team__item {
  flex-basis: calc(100% - (3 * (#{$cardGetGap})) / 4);
  margin-left: $cardGetGap;
  margin-top: $cardGetGap;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__position {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__item__name {
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}
.team__item__position {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  color: $mainTextColorcolor;
}
.social__icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__icons__item:not(:last-child) {
  margin-right: 10px;
}

.social__icons__svg {
  width: 20px;
  height: 20px;
  fill: $iconsColor;
}

.social__icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $iconsColor;
  transition: background-color $timeDuration $timingFunction;
  &:hover,
  &:focus {
    background-color: $accentCcolor;
    fill: $titleColor;
  }
}
