.social__text {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $titleColor;
}
.social__icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__icons__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color $timeDuration $timingFunction;
}
.social__icons__svg {
  fill: $titleColor;
  width: 20px;
  height: 20px;
}
.social {
  margin-right: 93px;
}
