/*Контакты хедер*/
.nav__contacts__list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-left: auto;
}
.nav__contacts__link {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 25px;
  color: $mainTextColorcolor;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color $timeDuration $timingFunction;
  &:hover,
  &:focus {
    color: $accentCcolor;
  }
}
.nav__contacts__item:not(:last-child) {
  margin-right: 50px;
}
.nav__contacts__icons {
  margin-right: 10px;
  fill: currentColor;
}
