.logocolor {
  color: $accentCcolor;
}
.logo {
  margin-right: 93px;
  font-family: $logoFont;
  color: $secondaryTextColor;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
.logo-color-footer {
  color: $titleColor;
}
